<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_with model: @post do |f| %>
  <%= f.text_field :title %>
  <%= @post.errors.full_messages %>
  <% @post.errors.full_messages_for(:title).each do |msg| %>
    <div><%= msg %></div>
  <% end %>
  <%= f.text_area :body %>
  <% @post.errors.full_messages_for(:body).each do |msg| %>
    <div><%= msg %></div>
  <% end %>
  <%= f.submit %>
<% end %>